.container{
    width: calc(100% - 32px);
    height: fit-content;

    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    border-style: none;

    margin-top: 18px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.infoContainer{
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    margin-bottom: 21px;
}

.dateWrapper{
    height: 100%;
}

.date{
    font-size: 20px;
}

.dayOfWeek{
    font-size: 16px;
}

.amountWrapper{
    height: 100%;
}
