.page {
  width: 100%;
  height: fit-content;
  
  margin-bottom: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.moneySection {
  width: calc(100% - 38px);
  height: fit-content;

  margin: 25px 19px;
}

.totalBalance {
  width: 100%;
  height: 136px;

  backdrop-filter: blur(45px);
    background-color: rgba(255, 255, 255, 0.3);

  padding-top: 5px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.balanceTitle {
  width: 100%;
  height: fit-content;

  font-size: 25px;
  text-align: center;
}

.balanceAmount {
  width: 100%;
  height: fit-content;

  font-size: 50px;
  text-align: center;
}

.seperateAmountContainer {
  width: 100%;
  height: fit-content;

  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  border-radius: 20px;
}

.inBankWrapper, .ceshWrapper {
  width: calc(50% - 5px);
  height: 120px;

  border-radius: 20px;

  backdrop-filter: blur(45px);
  background-color: rgba(255, 255, 255, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inBankTitle {
  width: 100%;
  height: fit-content;

  font-size: 25px;
  text-align: center;
}

.inBankAmount {
  width: 100%;
  height: fit-content;
  
  font-size: 35px;
  text-align: center;
}

.ceshTitle {
  width: 100%;
  height: fit-content;
  
  font-size: 25px;
  text-align: center;
}

.ceshAmount {
  width: fit-content;
  height: fit-content;
  font-size: 35px;
  text-align: center;
}

.transactions {
  width: 100%;
  height: fit-content;

  border-style: none;
  backdrop-filter: blur(45px);
  background-color: rgba(255, 255, 255, 0.3);

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.transactionSection {
  width: calc(100% - 64px);
  height: fit-content;

  margin: 25px 32px;
}

.titleAndButtonWrapper {
  width: 100%;
  height: fit-content;

  font-size: 24px;

  margin-bottom: 22px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.seeAll{
  width: fit-content;
  height: 100%;

  background-color: transparent;

  font-size: 20px;
  border-style: none;

  padding: 0;

  color: black;
  text-decoration: none;
}

.searchBarWrapper{
  width: 100%;
  height: 58px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 15px;
}

.searchBar{
  width: calc(100% - 45px);
  height: 100%;

  display: block;
  background-color: black;

  color: white;
  font-size: 16px;

  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  border-width: 0;

  padding: 0 0 0 15px;
  
  outline: 0;

  box-shadow: none;
}

.searchBar::placeholder {
color: white;
}

.searchBar[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; 
  appearance: none;
}

.searchBar[type="search"]::-moz-search-clear-button {
  display: none; 
}

.searchIcon{
  width: 58px;
  height: 58px;

  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  border-width: 0;

  background-color: black;

}