.product {
    width: calc(100% - 30px);
    height: fit-content;

    background-color: white;

    padding: 15px;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: 20px;
}

.titleAndUnitsWrapper {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
}

.titleAndQuantityWrapper {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    width: fit-content;
    height: fit-content;

    font-size: 20px;

    margin-right: 10px;
}

.priceQuantity, .quantity {
    font-size: 15px;
    text-wrap: nowrap;
}

.priceWrapper {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
}

.discount {
    font-size: 14px;

    margin-bottom: 4px;

    text-wrap: nowrap;
}

.price {
    font-size: 15px;
    text-align: right;
}