.roboto-600 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html{
  width: 100%;
  min-height: 100%;
  height: auto;

  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  width: 100%;
  min-height: 100%;
  height: auto;

  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

input, body, button, h1, h2, h3, h4, h5, h6, a, p{
  font-family: "Roboto", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100;

  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

.amountPositive{
  font-size: 20px;
  color: #56C35D;
  font-weight: bold;
}

.amountNegative{
  font-size: 20px;
  color: #C14B4B;
  font-weight: bold;
}

.layoutDiv{
  width: 100%;
  min-height: 100%;
  height: auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

body.disableScroll{
  overflow: hidden;
}