.category {
    width: calc(100% - 28px);
    min-height: 27px;
    height: fit-content;

    padding: 12px 14px;
    margin-top: 10px;

    background-color: transparent;

    border: white solid 1px;
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.category > button:first-of-type {
    width: calc(100% - 40px);

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 12px;
    overflow-wrap: anywhere;

    color: white;
    font-size: 20px;
    text-align: justify;

    background-color: transparent;
    border: none;

    flex: 1;
}

.category > button:first-of-type > img {
    margin-right: 12px;
}

.openButton {
    width: 100%;
}

.deleteButton {
    width: fit-content;
    height: fit-content;

    background-color: transparent;
    border: none;

    float: right;
}